USE [master]
GO
/****** Object:  Database [huraceDB]    Script Date: 23.10.2019 15:40:48 ******/
CREATE DATABASE [huraceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'huraceDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\huraceDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'huraceDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\huraceDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [huraceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [huraceDB]
GO
/****** Object:  Table [dbo].[race]    Script Date: 23.10.2019 15:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[race](
	[id] [int] NOT NULL,
	[typeId] [int] NOT NULL,
	[date] [date] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[location] [varchar](50) NOT NULL,
	[splittimes] [int] NOT NULL,
	[description] [varchar](max) NULL,
 CONSTRAINT [PK_race_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[racedata]    Script Date: 23.10.2019 15:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[racedata](
	[id] [int] NOT NULL,
	[raceId] [int] NOT NULL,
	[skierId] [int] NOT NULL,
	[disqualified] [bit] NOT NULL,
 CONSTRAINT [PK_racedata] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[racetype]    Script Date: 23.10.2019 15:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[racetype](
	[id] [int] NOT NULL,
	[type] [varchar](50) NOT NULL,
 CONSTRAINT [PK_racetype] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skier]    Script Date: 23.10.2019 15:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skier](
	[id] [int] NOT NULL,
	[firstname] [varchar](50) NOT NULL,
	[lastname] [varchar](50) NOT NULL,
	[dateofbirth] [date] NOT NULL,
	[nation] [varchar](3) NOT NULL,
	[profileimage] [varchar](max) NULL,
 CONSTRAINT [PK_skier] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[splittime]    Script Date: 23.10.2019 15:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[splittime](
	[racedataID] [int] NOT NULL,
	[runNo] [int] NOT NULL,
	[splittimeNo] [int] NOT NULL,
	[splittime] [time](7) NOT NULL,
 CONSTRAINT [PK_splittime] PRIMARY KEY CLUSTERED 
(
	[racedataID] ASC,
	[splittimeNo] ASC,
	[runNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[startlist]    Script Date: 23.10.2019 15:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[startlist](
	[raceId] [int] NOT NULL,
	[skierId] [int] NOT NULL,
	[startpos] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[race]  WITH CHECK ADD  CONSTRAINT [FK_race_racetype] FOREIGN KEY([typeId])
REFERENCES [dbo].[racetype] ([id])
GO
ALTER TABLE [dbo].[race] CHECK CONSTRAINT [FK_race_racetype]
GO
ALTER TABLE [dbo].[racedata]  WITH CHECK ADD  CONSTRAINT [FK_racedata_race] FOREIGN KEY([raceId])
REFERENCES [dbo].[race] ([id])
GO
ALTER TABLE [dbo].[racedata] CHECK CONSTRAINT [FK_racedata_race]
GO
ALTER TABLE [dbo].[racedata]  WITH CHECK ADD  CONSTRAINT [FK_racedata_skier] FOREIGN KEY([skierId])
REFERENCES [dbo].[skier] ([id])
GO
ALTER TABLE [dbo].[racedata] CHECK CONSTRAINT [FK_racedata_skier]
GO
ALTER TABLE [dbo].[splittime]  WITH CHECK ADD  CONSTRAINT [FK_splittime_racedata] FOREIGN KEY([racedataID])
REFERENCES [dbo].[racedata] ([id])
GO
ALTER TABLE [dbo].[splittime] CHECK CONSTRAINT [FK_splittime_racedata]
GO
ALTER TABLE [dbo].[startlist]  WITH CHECK ADD  CONSTRAINT [FK_startlist_race] FOREIGN KEY([raceId])
REFERENCES [dbo].[race] ([id])
GO
ALTER TABLE [dbo].[startlist] CHECK CONSTRAINT [FK_startlist_race]
GO
ALTER TABLE [dbo].[startlist]  WITH CHECK ADD  CONSTRAINT [FK_startlist_skier] FOREIGN KEY([skierId])
REFERENCES [dbo].[skier] ([id])
GO
ALTER TABLE [dbo].[startlist] CHECK CONSTRAINT [FK_startlist_skier]
GO
ALTER TABLE [dbo].[splittime]  WITH CHECK ADD  CONSTRAINT [CK_splittime] CHECK  (([runNo]>=(1) AND [runNo]<=(2)))
GO
ALTER TABLE [dbo].[splittime] CHECK CONSTRAINT [CK_splittime]
GO
ALTER TABLE [dbo].[splittime]  WITH CHECK ADD  CONSTRAINT [CK_splittime_1] CHECK  (([splittimeNo]>(0)))
GO
ALTER TABLE [dbo].[splittime] CHECK CONSTRAINT [CK_splittime_1]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'run number must be 1 or 2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'splittime', @level2type=N'CONSTRAINT',@level2name=N'CK_splittime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'splittime must be higher than 0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'splittime', @level2type=N'CONSTRAINT',@level2name=N'CK_splittime_1'
GO
USE [master]
GO
